@import 'src/scss/colours';
@import "src/scss/variables";

header {
  position: fixed;
  height: 80px;
  background-color: #fff;
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 64px;
  align-items: center;
  border-bottom: 2px solid $primary;

  @media only screen and (min-width: 768px) {
    padding:8px 32px;
  }

  @media only screen and (max-width: 600px) {
    padding: 8px 16px;
  }
}

.header {
  &-logo {
    width: 230px;
  }
}
