@import "colours";

.filter {
  &-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    &-search {
      display: flex;
      width: 25%;
      max-width: 25%;
      align-items: center;

      &-close {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-left: -10px;
        cursor: pointer;
      }
    }

    &-sort {
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      font-size: 12px;

      &-label {
        line-height: 30px;
        margin-right: 8px;
      }
      &-item {
        background-color: $light-gray;
        text-transform: uppercase;
        height: 30px;
        padding: 0 16px;
        margin-right: 8px;
        line-height: 30px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 200ms linear;
        &:last-child {
          margin-right: 0;
        }
        &.-active {
          background-color: $font-color;
          color:#fff;
        }
      }
      &-order {
        width: 100px;
      }
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      &-search {
        max-width: 100%;
        width:100%;
        order: 2;
        margin-top: 16px;
      }

      &-sort {
        flex-wrap: wrap;
        order: 1;
        &-item {
          margin-top: 16px;
          margin-bottom:16px;
        }
        &-label {
          line-height: 64px;
        }

      }
    }
  }
}
